
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
/** @format */

body {
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
  background-color: rgba(255, 255, 255, 0);
  /* margin-bottom: 80rem; */
}

h1,
p, txt {
  color: rgb(49, 49, 49);
}

img {
  width: 100%;
  -webkit-box-shadow: 0px 18px 24px -17px rgba(0, 0, 0, 0.51);
  -moz-box-shadow: 0px 18px 24px -17px rgba(0, 0, 0, 0.51);
  box-shadow: 0px 18px 24px -17px rgba(0, 0, 0, 0.51);
}

h1 {
  font-size: 2.8rem;
  text-align: center;
  margin-top: 4rem;
}

p {
  font-size: 1.2rem;
  text-align: center;
}


.comp {
  width: 45%;
  margin: 50px;
}

.foter {
  background-color: #006920;
  padding: 10px;
  margin-top: 55px;
}

.foter p {
  display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
  color: #fcfcfc;
  font-size: 1.3rem;
}
